In [1]:
# import pandas libraries
import pandas as pd
import numpy as np
import os

In [4]:
# import World Happiness Data of 2015 - 2019
df_2015 = pd.read_csv(r'C:\Users\User\Documents\World Happiness Data\02 Data\Original Data\2015.csv', index_col = False)
df_2016 = pd.read_csv(r'C:\Users\User\Documents\World Happiness Data\02 Data\Original Data\2016.csv', index_col = False)
df_2017 = pd.read_csv(r'C:\Users\User\Documents\World Happiness Data\02 Data\Original Data\2017.csv', index_col = False)
df_2018 = pd.read_csv(r'C:\Users\User\Documents\World Happiness Data\02 Data\Original Data\2018.csv', index_col = False)
df_2019 = pd.read_csv(r'C:\Users\User\Documents\World Happiness Data\02 Data\Original Data\2019.csv', index_col = False)

In [6]:
path = r'C:\Users\User\Documents\World Happiness Data'

In [8]:
df_2015 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2015.csv'), index_col = False)
df_2016 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2016.csv'), index_col = False)
df_2017 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2017.csv'), index_col = False)
df_2018 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2018.csv'), index_col = False)
df_2019 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2019.csv'), index_col = False)

In [10]:
df_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [12]:
df_2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [14]:
df_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [16]:
df_2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [18]:
df_2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

## Data Cleaning
# find missing value

In [22]:
# find missing value in 2015 data
df_2015.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Standard Error                   0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [24]:
# find missing value in 2016 data
df_2016.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Lower Confidence Interval        0
Upper Confidence Interval        0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [26]:
# find missing value in 2017 data
df_2017.isnull().sum()

Country                          0
Happiness.Rank                   0
Happiness.Score                  0
Whisker.high                     0
Whisker.low                      0
Economy..GDP.per.Capita.         0
Family                           0
Health..Life.Expectancy.         0
Freedom                          0
Generosity                       0
Trust..Government.Corruption.    0
Dystopia.Residual                0
dtype: int64

In [28]:
# find missing value in 2018 data
df_2018.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       1
dtype: int64

In [30]:
# find missing value in 2019 data
df_2019.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

found only one missing value in 2018 data. As this is only one record we can handle it with placing mean value of the column in it.

In [56]:
df_new_2018 = df_2018.fillna(value=df_2018['Perceptions of corruption'].mean())

In [58]:
df_new_2018.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

## Checking for Duplicates in 2015 - 2019 Dataframes

In [60]:
df_2015.shape

(158, 12)

In [62]:
df_2016.shape

(157, 13)

In [64]:
df_2017.shape

(155, 12)

In [66]:
df_new_2018.shape

(156, 9)

In [68]:
df_2019.shape

(156, 9)

In [70]:
df_dups_2015 = df_2015[df_2015.duplicated()]

In [72]:
df_dups_2015

Empty DataFrame
Columns: [Country, Region, Happiness Rank, Happiness Score, Standard Error, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity, Dystopia Residual]
Index: []

# no duplicates found in 2015

In [74]:
df_dups_2016 = df_2016[df_2016.duplicated()]

In [76]:
df_dups_2016

Empty DataFrame
Columns: [Country, Region, Happiness Rank, Happiness Score, Lower Confidence Interval, Upper Confidence Interval, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity, Dystopia Residual]
Index: []

# no duplicates found in 2016

In [78]:
df_dups_2017 = df_2017[df_2017.duplicated()]

In [80]:
df_dups_2017

Empty DataFrame
Columns: [Country, Happiness.Rank, Happiness.Score, Whisker.high, Whisker.low, Economy..GDP.per.Capita., Family, Health..Life.Expectancy., Freedom, Generosity, Trust..Government.Corruption., Dystopia.Residual]
Index: []

# No duplicate data found in 2017

In [82]:
df_dups_2018 = df_new_2018[df_new_2018.duplicated()]

In [84]:
df_dups_2018

Empty DataFrame
Columns: [Overall rank, Country or region, Score, GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption]
Index: []

# No duplicates found in 2018 data

In [86]:
df_dups_2019 = df_2019[df_2019.duplicated()]

In [88]:
df_dups_2019

Empty DataFrame
Columns: [Overall rank, Country or region, Score, GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption]
Index: []

# No duplicates found in 2019 data

## Rename Columns

In [92]:
# rename columns in 2015 dataframe
df_2015.rename(columns = {'Happiness Rank' : 'Rank', 'Happiness Score' : 'Score', 'Economy (GDP per Capita)' : 'Economy', 'Health (Life Expectancy)' : 'Life_Expectancy', 'Freedom' : 'Freedom_of_choice', 'Trust (Government Corruption)' : 'Perception_of_corruption'}, inplace = True)

In [94]:
# rename columns in 2016 dataframe
df_2016.rename(columns = {'Happiness Rank' : 'Rank', 'Happiness Score' : 'Score', 'Economy (GDP per Capita)' : 'Economy', 'Health (Life Expectancy)' : 'Life_Expectancy', 'Freedom' : 'Freedom_of_choice', 'Trust (Government Corruption)' : 'Perception_of_corruption'}, inplace = True)

In [120]:
# rename columns in 2017 dataframe
df_2017.rename(columns = {'Happiness.Rank' : 'Rank', 'Happiness.Score' : 'Score', 'Economy..GDP.per.Capita.' : 'Economy', 'Health..Life.Expectancy.' : 'Life_Expectancy', 'Freedom' : 'Freedom_of_choice', 'Trust..Government.Corruption.' : 'Perception_of_corruption'}, inplace = True)

In [112]:
# rename columns in 2018 dataframe
df_new_2018.rename(columns = {'Overall rank' : 'Rank', 'Country or region' : 'Country', 'GDP per capita' : 'Economy', 'Healthy life expectancy' : 'Life_Expectancy', 'Freedom to make life choices' : 'Freedom_of_choice', 'Perceptions of corruption' : 'Perception_of_corruption'}, inplace = True)

In [114]:
# rename columns in 2018 dataframe
df_2019.rename(columns = {'Overall rank' : 'Rank', 'Country or region' : 'Country', 'GDP per capita' : 'Economy', 'Healthy life expectancy' : 'Life_Expectancy', 'Freedom to make life choices' : 'Freedom_of_choice', 'Perceptions of corruption' : 'Perception_of_corruption'}, inplace = True)

In [116]:
df_2019.head()

,Rank,Country,Score,Economy,Social support,Life_Expectancy,Freedom_of_choice,Generosity,Perception_of_corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [122]:
df_2017.head()

,Country,Rank,Score,Whisker.high,Whisker.low,Economy,Family,Life_Expectancy,Freedom_of_choice,Generosity,Perception_of_corruption,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

# Checking for mixed data types

In [124]:
# check mixed data type in df 2015 data frame
for col in df_2015.columns.tolist():
  weird = (df_2015[[col]].map(type) != df_2015[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_2015[weird]) > 0:
    print (col)

In [126]:
df_2015.dtypes

Country                      object
Region                       object
Rank                          int64
Score                       float64
Standard Error              float64
Economy                     float64
Family                      float64
Life_Expectancy             float64
Freedom_of_choice           float64
Perception_of_corruption    float64
Generosity                  float64
Dystopia Residual           float64
dtype: object

In [128]:
df_2016.dtypes

Country                       object
Region                        object
Rank                           int64
Score                        float64
Lower Confidence Interval    float64
Upper Confidence Interval    float64
Economy                      float64
Family                       float64
Life_Expectancy              float64
Freedom_of_choice            float64
Perception_of_corruption     float64
Generosity                   float64
Dystopia Residual            float64
dtype: object

In [130]:
df_2017.dtypes

Country                      object
Rank                          int64
Score                       float64
Whisker.high                float64
Whisker.low                 float64
Economy                     float64
Family                      float64
Life_Expectancy             float64
Freedom_of_choice           float64
Generosity                  float64
Perception_of_corruption    float64
Dystopia.Residual           float64
dtype: object

In [132]:
df_new_2018.dtypes

Rank                          int64
Country                      object
Score                       float64
Economy                     float64
Social support              float64
Life_Expectancy             float64
Freedom_of_choice           float64
Generosity                  float64
Perception_of_corruption    float64
dtype: object

In [134]:
df_2019.dtypes

Rank                          int64
Country                      object
Score                       float64
Economy                     float64
Social support              float64
Life_Expectancy             float64
Freedom_of_choice           float64
Generosity                  float64
Perception_of_corruption    float64
dtype: object

# There is no mixed data type in the all data frames

# Drop columns which are not required for our analysis.

In [136]:
# drop columns from 2015 data frames
df_wh2015 = df_2015.drop (columns = ['Region', 'Standard Error', 'Generosity', 'Dystopia Residual'])

In [138]:
df_wh2015.columns

Index(['Country', 'Rank', 'Score', 'Economy', 'Family', 'Life_Expectancy',
       'Freedom_of_choice', 'Perception_of_corruption'],
      dtype='object')

In [140]:
# drop columns from 2016 data frames
df_wh2016 = df_2016.drop (columns = ['Region', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Generosity', 'Dystopia Residual'])

In [142]:
df_wh2016.columns

Index(['Country', 'Rank', 'Score', 'Economy', 'Family', 'Life_Expectancy',
       'Freedom_of_choice', 'Perception_of_corruption'],
      dtype='object')

In [148]:
# drop columns from 2017 data frames
df_wh2017 = df_2017.drop (columns = ['Whisker.high', 'Whisker.low', 'Generosity', 'Dystopia.Residual'])

In [150]:
df_wh2017.columns

Index(['Country', 'Rank', 'Score', 'Economy', 'Family', 'Life_Expectancy',
       'Freedom_of_choice', 'Perception_of_corruption'],
      dtype='object')

In [152]:
# drop columns from 2018 data frames
df_wh2018 = df_new_2018.drop (columns = ['Generosity'])

In [154]:
df_wh2018.columns

Index(['Rank', 'Country', 'Score', 'Economy', 'Social support',
       'Life_Expectancy', 'Freedom_of_choice', 'Perception_of_corruption'],
      dtype='object')

In [156]:
# drop columns from 2019 data frames
df_wh2019 = df_2019.drop (columns = ['Generosity'])

In [158]:
df_wh2019.columns

Index(['Rank', 'Country', 'Score', 'Economy', 'Social support',
       'Life_Expectancy', 'Freedom_of_choice', 'Perception_of_corruption'],
      dtype='object')

## Export the cleaned dataframes

In [160]:
# Export all data frames
df_wh2015.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'wh2015.csv'), index = False)
df_wh2016.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'wh2016.csv'), index = False)
df_wh2017.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'wh2017.csv'), index = False)
df_wh2018.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'wh2018.csv'), index = False)
df_wh2019.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'wh2019.csv'), index = False)